# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf
*.js linguist-language=JSX
shared/actions/*-gen.js			linguist-generated=true
shared/flow-typed/*				linguist-generated=true
shared/constants/types/rpc*.js	linguist-generated=true
protocol/js/rpc*.js				linguist-generated=true
go/protocol/keybase1/*.go		linguist-generated=true
go/protocol/chat1/*.go			linguist-generated=true
go/protocol/stellar1/*.go		linguist-generated=true
go/protocol/keybase1/extras.go	linguist-generated=false
go/protocol/chat1/extras.go		linguist-generated=false
go/protocol/stellar1/extras.go	linguist-generated=false
protocol/json/keybase1/*.json	linguist-generated=true
protocol/json/chat1/*.json		linguist-generated=true
protocol/json/stellar1/*.json	linguist-generated=true
*.snap linguist-generated=true
*.json linguist-language=JSON5
